server:
  port: ${SERVICE_APP_PORT:8080}

management:
  server:
    port: ${SERVICE_MNG_PORT:8081}
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      base-path: /
      exposure:
        include: health,prometheus
      path-mapping:
        health: readiness
        prometheus: metrics

logging:
  level:
    root: INFO
