name: Release

on:
  push:
    branches:
      - master

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Java
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Cache
        uses: actions/cache@v1
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Release
        run: |
          git config --global user.email "release@qudini.com"
          git config --global user.name "Release"
          mvn --settings ./.m2/settings.xml clean
          mvn --settings ./.m2/settings.xml release:prepare
          mvn --settings ./.m2/settings.xml release:perform
        env:
          LOG_LEVEL: FATAL
          JIRA_ID: ${{ secrets.JIRA_ID }}
          JIRA_PASSWORD: ${{ secrets.JIRA_PASSWORD }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
